* {
    box-sizing: border-box;
}

:root  {
    --bg-body: #ffffff;
    --bg-sidebar: #323232;
    --bg-chapters: #111111;
    --bg-image-chapters: '';
    --bg-image-position-chapters: '';

    --color-main-text: #111111;
    --color-main-links: #0176c4;
}

body.theme-forms {
    --bg-body: #ffffff;
    --bg-sidebar: #2b094a;
    --bg-chapters: #100F20;
    --bg-image-chapters: url(img/losange.png), url(img/losange-2.png);
    --bg-image-position-chapters: -50% -20%, right -50% bottom -20%;
    --bg-image-size-chapters: unset;
    --bg-main-blockquote: ​#f5f0f5;
    --bg-codeblock: #100f20;
    --bg-figcaption: #D8E2F1;

    --color-main-text: #323232;
    --color-main-links: #A40162;
    --color-main-h2: #2b094a;
    --color-main-h3: #306C98;
    --color-codeblock: ​#9db9e2;
    --color-inline-code: #306C98;
    --color-printable-link: #306C98;

    --border-codeblock: 6px solid #A40162;
}

body.theme-accessibility {
    --bg-body: #ffffff;
    --bg-sidebar: #003A41;
    --bg-chapters: #001528;
    --bg-image-chapters: url(img/hexa-mix.png);
    --bg-image-position-chapters: -250px -230px;
    --bg-image-size-chapters: contain;
    --bg-main-blockquote: rgb(245,240,245);
    --bg-codeblock: #001528;
    --bg-figcaption: #D8E2F1;

    --color-main-text: #002231;
    --color-main-links: #0C604C;
    --color-main-h2: #003A41;
    --color-main-h3: #1B6A8B;
    --color-codeblock: ​#9db9e2;
    --color-inline-code: #1B6A8B;
    --color-printable-link: #1B6A8B;

    --border-codeblock: 6px solid #0C604C;
}

::selection {
    background: var(--color-main-h2);
    color: white;
}

body {
    display: grid;
    grid-template-areas: 'header content'
                         'footer content';
    grid-template-columns: 320px 1fr;
    grid-template-rows: 1fr auto;
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-family: 'Poppins', "Helvetica Neue", "Arial", sans-serif;
    line-height: 1.7;
    color: var(--color-main-text);
}

.books {
    grid-template-areas: 'nav header content'
                         'footer header content';
    grid-template-columns: 120px 320px 1fr;
    grid-template-rows: 1fr auto;
}

a {
    color: var(--color-main-links);
}

.toc-container {
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow: scroll;
    background: inherit;
}

.toc-container .toc {
    padding: 24px 0;
    opacity: 0.1;
    transition: all .4s;
}

.toc-container .toc a {
    color: var(--bg-body);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all .3s;
}

.toc-container .toc:hover {
    opacity: 0.8;
}

.toc-container .toc:focus-within,
.toc-container .toc:has(a:hover) {
    opacity: 1;
}

.toc-container .toc li a:hover,
.toc-container .toc li a:focus-visible {
    border-color: white;
    outline: none;
}


ol.toc {
    padding: 24px 40px;
    margin: 0 auto;
    list-style: none;
    -prince-pdf-tag-type: TOC;
}

.toc .chapter-number {
    display: inline-block;
    margin-right: .5em;
}

.toc .chapter-number::after {
    content: '.';
}

ol.toc li {
    font-weight: bold;
}

ol.toc li a {
    -prince-pdf-tag-type: TOCI;
}

ol.toc li a::after {
    content: leader('.') target-counter(attr(href), page, decimal);
}

ol.toc-subheadings {
    margin-bottom: 1em;
    font-weight: normal;
    
}

ol.toc-subheadings li {
    font-weight: normal;
    
}

/**
 * NAV
 */
nav {
    position: sticky;
    top: 0;
    z-index: 1;
    grid-area: nav;
    padding: 12px;
}

nav ul {
    position: sticky;
    top: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav a {
    display: flex;
    transition: all .4s;
    border-radius: 8px;
}

nav a:hover,
nav a:focus-visible {
    transform: scale(1.1);
}

nav a[aria-current] {
    transform: scale(0.9);
    box-shadow: 0 0 0 2px #fff, 0 0 0 6px var(--color-main-links);
}

/**
 * HEADER
 */
header {
    position: sticky;
    top: 0;
    grid-area: header;
    padding: 12px 24px;
    background: var(--bg-sidebar);
    color: white;
}

header > div {
    position: sticky;
    top: 12px;
}

header h1 {
    margin-top: 0;
    font-size: 1.825rem;
}

header h1 span {
    font-size: 0.875rem;
}

header h1 span:nth-child(1) {
    display: block;
    font-size: 1.25rem;
    font-weight: 400;
}

.isbn {
    font-size: 0.725rem;
    text-align: center;
}

.cover {
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 8px 24px -8px rgba(0, 0, 0, .5);
    -prince-pdf-tag-type: none;
}

/**
 * Main content
 */
main {
    grid-area: content;
}

.chapter-content,
section[data-title] > .text-center,
section[data-title] > ol,
section[data-title] > ul,
section[data-title] > p,
section[data-title] > h2 {
    width: 100%;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.full-screen-image {
    display: block;
    border-radius: 16px;
    height: 95vh;
    width: auto;
    margin-inline: auto;
}

p:empty {
    display: none;
}

.chapter-header {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2em;
    margin: 0;
    align-content: center;
    text-align: right;
    min-height: 100vh;
    background-color: var(--bg-chapters);
    background-image: var(--bg-image-chapters);
    background-position: var(--bg-image-position-chapters);
    background-repeat: no-repeat;
    background-size: var(--bg-image-size-chapters);
    color: white;
    font-size: clamp(32px, 4vw, 72px);
    font-weight: 900;
}

.chapter-counter {
    flex-basis: 100%;
    margin-bottom: 0;
    font-size: 1rem;
    letter-spacing: 1px;
}

.chapter-title {
    flex-basis: 100%;
    margin-top: 0;
    line-height: 1.4;
}

.chapter-content {
    padding: 80px 0;
    overflow: hidden;
}

section[data-title="Copyright"] {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section[data-title="Copyright"] p {
    margin: 1em 0;
}

main p {
    margin: 2em 0;
}

main .h2 {
    font-size: 1.75rem;
    color: var(--color-main-h2);
}

main .h3 {
    font-size: 1.25rem;
    color: var(--color-main-h3)
}

main .h4 {
    font-size: 1.125rem;
}

main .h5 {
    margin-bottom: -1em;
    font-size: 1rem;
    font-weight: 600;
    opacity: 0.7;
}

main blockquote {
    padding: 2em;
    margin-inline: 0;
    font-size: 1.25rem;
    background: var(--bg-main-blockquote);
    -prince-pdf-tag-type: Quote;
}

main blockquote cite {
    display: block;
    padding-top: 1em;
}

main pre code {
    display: block;
    padding: 1em;
    white-space: pre-wrap;
    font-size: 1.1em;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    font-weight: 500;
    background: var(--bg-codeblock);
    color: var(--color-codeblock);
    border-left: var(--border-codeblock);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%);
    -prince-pdf-tag-type: Code;
}

main pre code strong {
    color: white;
}

.callout.callout {
    margin-block: 2em;
    padding: 1em;
}

.callout.callout *:first-child {
    margin: 0;
}

.callout.callout *:last-child {
    margin: 0;
}

p > code {
    font-size: 1rem;
    color: var(--color-inline-code);
}

figure {
    text-align: center;
    -prince-pdf-tag-type: Figure;
}

figure figcaption {
    padding: 1em;
    font-size: .875rem;
    background: var(--bg-figcaption);
    font-weight: 500;
    /**/
    position: relative;
    left: 50%;
    width: 14cm;
    line-height: 1.4;
    transform: translateX(-50%);
    font-size: 0.775em;
    font-weight: 600;
}

figure figcaption:empty{
    display: none;
}

/**
 * Image sizes
 */
[data-size] {
    margin-inline: auto;
}
[data-size="100"]{
    max-width: 100%;
}
[data-size="99"]{
    max-width: 100%;
}
[data-size="98"]{
    max-width: 100%;
}
[data-size="95"]{
    max-width: 95%;
}
[data-size="81"] {
    max-width: 80%;
}
[data-size="80"] {
    max-width: 80%;
}
[data-size="79"]{
    max-width: 80%;
}
[data-size="75"]{
    max-width: 75%;
}
[data-size="71"]{
    max-width: 70%;
}
[data-size="70"]{
    max-width: 70%;
}
[data-size="69"]{
    max-width: 70%;
}
[data-size="65"]{
    max-width: 65%;
}
[data-size="62"]{
    max-width: 60%;
}
[data-size="61"]{
    max-width: 60%;
}
[data-size="60"]{
    max-width: 60%;
}
[data-size="59"]{
    max-width: 60%;
}
[data-size="58"]{
    max-width: 60%;
}
[data-size="55"]{
    max-width: 55%;
}
[data-size="small"]{
    max-width: 50%;
}
[data-size="50"]{
    max-width: 50%;
}
[data-size="49"]{
    max-width: 49%;
}
[data-size="45"]{
    max-width: 45%;
}
[data-size="41"]{
    max-width: 40%;
}
[data-size="40"]{
    max-width: 40%;
}
[data-size="39"]{
    max-width: 40%;
}
[data-size="35"]{
    max-width: 35%;
}
[data-size="30"]{
    max-width: 30%;
}
[data-size="25"]{
    max-width: 25%;
}
[data-size="20"]{
    max-width: 20%;
}
[data-size="15"]{
    max-width: 15%;
}
[data-size="10"]{
    max-width: 10%;
}
[data-size="5"]{
    max-width: 5%;
}

/**
 * Footer
 */

footer {
    position: sticky;
    bottom: 0;
    grid-area: footer;
    padding: 12px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

@media print {
    .no-pdf {
        display: none;
    }

    body {
        display: block;
        padding: 0;
        margin: 0;
    }

    h1 {
        margin: 0;
    }

    .full-screen-image {
        border-radius: 0;
        height: unset;
        width: unset;
    }

    .container {
        max-width: none;
        width: 100%;
        padding: 0;
    }

    .chapter-content {
        padding: 24px;
    }
    
    section[data-title] {
        min-height: 100%;
        break-before: page;
    }

    section[data-title] > p,
    section[data-title] > ul,
    section[data-title] > ol,
    section[data-title] > blockquote,
    section[data-title] > pre,
    section[data-title] > h3,
    section[data-title] > h4,
    section[data-title] > h5,
    section[data-title] > h6,
    section[data-title] > .text-center {
        max-width: 18.5cm;
        margin-left: auto;
        margin-right: auto;
    }

    section[data-title="Copyright"] {
        align-items: flex-end;
    }

    main blockquote {
        padding: 1.5em;
        font-size: 1.125rem;
    }

    main li li p {
        margin: 1em 0;
    }
}

@media screen and (max-width: 1180px) {
    body {
        display: block;
    }

    nav,
    nav ul,
    header,
    footer {
        position: static;
        text-align: center;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    nav ul .cover {
        width: 88px;
    }

    .full-screen-image {
        position: absolute;
        height: 1px;
        width: 1px;
        left: -9999em;
    }

    .chapter-content {
        padding: 24px 24px;
    }
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins-regular.woff2') format('woff2');    
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins-italic.woff2') format('woff2');    
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins-bold.woff2') format('woff2'); 
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins-black.woff2') format('woff2'); 
    font-weight: 900;
}

/* Debug */
.not-supported {
    padding: 16px;
    background:rgb(255, 250, 250);
    border: 2px solid rgb(255, 200, 200);
    color: red;
    border-radius: 8px;
}

/* Export print A5 (15.24 x 22.86 cm - 6 x 9 in) */
.print .no-pdf {
    display: none;
}

.print body {
    display: block;
    padding: 0;
    margin: 0 auto;
    width: 15.24cm;
    line-height: 1.7;
    font-size: 0.975rem;
}

.print .chapter-header {
    padding: 0 1em 0 0.5em;
    background-position: 2cm 18cm, -16cm 0;
    page-break-before: right;
}
.print .chapter-title {
    font-size: 3rem;
}

.print .full-screen-image {
    border-radius: 0;
    height: unset;
    width: unset;
}

@page {
    size: A5;
    /* size: 6in 9in; */ 

    @top-center {
        content: string(title);
    }
}

/* Remove for digital PDF export */
/*
@page:right {
    margin-top: 16mm !important;
    margin-bottom: 12mm !important;
    margin-left: 16mm !important;
    margin-right: 12mm !important; 

    @bottom-right-corner {
        content: counter(page);
    }
}
@page:left {
    margin-top: 16mm !important;
    margin-bottom: 12mm !important;
    margin-left: 12mm !important;
    margin-right: 16mm !important;

    @bottom-left-corner {
        content: counter(page);
    }
}
*/

/*
.print h2 {
    string-set: title content(text);
}
*/

.print h3,
.print h4 {
    line-height: 1.25;    
    page-break-after: avoid; /* keep title with next paragraph */
    page-break-inside: avoid;
}


.print blockquote,
.print code,
.print pre,
.print figure {
    page-break-inside: avoid;
}

.print p {
    widows: 3;
}

.print .toc a {
    text-decoration: none;
    color:#100F20;
}

.print h1 {
    margin: 0;
}

.print .full-screen-image {
    display: none;
}

.print .container {
    max-width: none;
    width: 100%;
    padding: 0;
}

.print section[data-title="Title Page"] {
    display: none;
}

.print section[data-title] {
    min-height: 100%;
    break-before: page;
}

.print .chapter-content > ul > li p {
    margin: 1.5em 0;
}

.print section[data-title] .printable-link {
    word-wrap: break-word;
    font-size: .925rem;
    font-weight: 500;
    color: var(--color-printable-link);
}

.print section[data-title] > p,
.print section[data-title] > ul,
.print section[data-title] > ol,
.print section[data-title] > blockquote,
.print section[data-title] > pre,
.print section[data-title] > h3,
.print section[data-title] > h4,
.print section[data-title] > h5,
.print section[data-title] > h6,
.print section[data-title] > .text-center {
    max-width: 18.5cm;
    margin-left: auto;
    margin-right: auto;
}

.print section[data-title="Copyright"] {
    height: 100vh;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}

.print [data-size="100"] {
    max-width: 95%;
}
.print [data-size="99"] {
    max-width: 95%;
}
.print [data-size="98"] {
    max-width: 95%;
}